<h1>WITAJ</h1>

<p>Jest to aplikacja stworzona na potrzeby zaliczenia przedmiotu na Uniwerytecie Gdanskim jakim jest Architektura serwisów internetowych. Ja nazywam się Sławomir Rzeppa - jest to moje pierwsze zetknięcie z Ruby on Rails.</p>

<h1>POZDRAWIAM</h1>
